main {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
  color: white;
}

.card {
  background-color: black;
  padding: 15px;
  border-radius: 20px;
}
